@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans Thin'), local('NotoSans-Thin'),
    url(NotoSansKR-Thin.eot),
    url(NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Thin.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(NotoSansKR-Light.eot),
    url(NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Light.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 350;
    src: local('Noto Sans DemiLight'), local('NotoSans-DemiLight'),
    url(NotoSansKR-DemiLight.eot),
    url(NotoSansKR-DemiLight.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-DemiLight.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(NotoSansKR-Regular.eot),
    url(NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(NotoSansKR-Medium.eot),
    url(NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(NotoSansKR-Bold.eot),
    url(NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Bold.woff) format('woff'),
    url(NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans Black'), local('NotoSans-Black'),
    url(NotoSansKR-Black.eot),
    url(NotoSansKR-Black.eot?#iefix) format('embedded-opentype'),
    url(NotoSansKR-Black.woff) format('woff'),
    url(NotoSansKR-Black.otf) format('opentype');
}